annotated-types==latest
anyio==latest
Bottleneck==latest
Brotli==latest
certifi==latest
charset-normalizer==latest
click==latest
colorama==latest
exceptiongroup==latest
fastapi==latest
h11==latest
idna==latest
implicit==0.7.2
joblib==latest
mkl-service==2.4.0
mkl_fft==latest
mkl_random==latest
numexpr==latest
numpy==2.0.1
pandas==2.2.3
pydantic==latest
pydantic_core==latest
PySocks==latest
python-dateutil==latest
pytz==latest
requests==latest
scipy==1.13.1
six==latest
sniffio==latest
starlette==latest
threadpoolctl==3.6.0
tqdm==latest
typing_extensions==latest
tzdata==latest
urllib3==latest
uvicorn==latest
win-inet-pton==latest